/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');


.timer{
  display: flex;
  gap: 24px;

}

.field{
  display: flex;
  flex-direction: column;
}
